<div class="row">
  <div class="col-lg-4">
    <div class="panel widget widget-farma">
      <div class="panel-body bg-warning color-white">
        <div class="row row-table">
          <div class="col-xs-6 pedido">
            <p class="m0 h3">12342</p>
            <p class="m0">Orçamento</p>
          </div>
          <div class="col-xs-6 text-right">
            <p class="m0 h3">4:59</p>
            <p class="m0">restante</p>
          </div>
        </div>
      </div>
      <div class="panel-body ">
        <div class="row row-table text-center ">
          <div class="col-xs-12 ">
            <h3 class="mt0 ">4 Itens pedidos</h3>
            <ul class="list-unstyled ">
              <li class="mb-sm ">
                <em class="fa fa-phone fa-fw "></em>(21) 9 9239-4567
              </li>
              <li class="mb-sm ">
                <em class="fa fa-map-marker fa-fw "></em>Rua dos bobos, 0 - Bairro X
              </li>
            </ul>
            <button type="button" class="btn btn btn-success btn-farma btn-block" (click)="lgModal.show()">Fazer orçamento</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel widget widget-farma">
      <div class="panel-body bg-primary">
        <div class="row row-table">
          <div class="col-xs-6 pedido">
            <p class="m0 h3">12342</p>
            <p class="m0">Orçamento</p>
          </div>
          <div class="col-xs-6 text-right">
            <p class="m0">Orçamento</p>
            <p class="m0">enviado</p>
          </div>
        </div>
      </div>
      <div class="panel-body ">
        <div class="row row-table text-center ">
          <div class="col-xs-12 ">
            <h3 class="mt0 ">4 Itens pedidos</h3>
            <ul class="list-unstyled ">
              <li class="mb-sm ">
                <em class="fa fa-phone fa-fw "></em>(21) 9 9239-4567
              </li>
              <li class="mb-sm ">
                <em class="fa fa-map-marker fa-fw "></em>Rua dos bobos, 0 - Bairro X
              </li>
            </ul>
            <div class="space-btn">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel widget widget-farma">
      <div class="panel-body bg-success color-white">
        <div class="row row-table">
          <div class="col-xs-6 pedido">
            <p class="m0 h3">12342</p>
            <p class="m0">Orçamento</p>
          </div>
          <div class="col-xs-6 text-right">
            <p class="m0">Orçamento</p>
            <p class="m0">Aceito</p>
          </div>
        </div>
      </div>
      <div class="panel-body ">
        <div class="row row-table text-center ">
          <div class="col-xs-12 ">
            <h3 class="mt0 ">4 Itens pedidos</h3>
            <ul class="list-unstyled ">
              <li class="mb-sm ">
                <em class="fa fa-phone fa-fw "></em>(21) 9 9239-4567
              </li>
              <li class="mb-sm ">
                <em class="fa fa-map-marker fa-fw "></em>Rua dos bobos, 0 - Bairro X
              </li>
            </ul>
            <div class="space-btn">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-lg-4">
    <div class="panel widget widget-farma">
      <div class="panel-body bg-success color-white">
        <div class="row row-table">
          <div class="col-xs-6 pedido">
            <p class="m0 h3">12342</p>
            <p class="m0">Orçamento</p>
          </div>
          <div class="col-xs-6 text-right">
            <p class="m0">Orçamento</p>
            <p class="m0">Aceito</p>
          </div>
        </div>
      </div>
      <div class="panel-body ">
        <div class="row row-table text-center ">
          <div class="col-xs-12 ">
            <h3 class="mt0 ">4 Itens pedidos</h3>
            <ul class="list-unstyled ">
              <li class="mb-sm ">
                <em class="fa fa-phone fa-fw "></em>(21) 9 9239-4567
              </li>
              <li class="mb-sm ">
                <em class="fa fa-map-marker fa-fw "></em>Rua dos bobos, 0 - Bairro X
              </li>
            </ul>
            <div class="space-btn">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel widget widget-farma">
      <div class="panel-body bg-danger color-white">
        <div class="row row-table">
          <div class="col-xs-6 pedido">
            <p class="m0 h3">12342</p>
            <p class="m0">Pedido</p>
          </div>
          <div class="col-xs-6 text-right">
            <p class="m0">Orçamento</p>
            <p class="m0">recusado</p>
          </div>
        </div>
      </div>
      <div class="panel-body ">
        <div class="row row-table text-center ">
          <div class="col-xs-12 ">
            <h3 class="mt0 ">4 Itens pedidos</h3>
            <ul class="list-unstyled ">
              <li class="mb-sm ">
                <em class="fa fa-phone fa-fw "></em>(21) 9 9239-4567
              </li>
              <li class="mb-sm ">
                <em class="fa fa-map-marker fa-fw "></em>Rua dos bobos, 0 - Bairro X
              </li>
            </ul>
            <div class="space-btn">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel widget widget-farma">
      <div class="panel-body bg-danger color-white">
        <div class="row row-table">
          <div class="col-xs-6 pedido">
            <p class="m0 h3">12342</p>
            <p class="m0">Orçamento</p>
          </div>
          <div class="col-xs-6 text-right">
            <p class="m0">Orçamento</p>
            <p class="m0">Perdido por tempo</p>
          </div>
        </div>
      </div>
      <div class="panel-body ">
        <div class="row row-table text-center ">
          <div class="col-xs-12 ">
            <h3 class="mt0 ">4 Itens pedidos</h3>
            <ul class="list-unstyled ">
              <li class="mb-sm ">
                <em class="fa fa-phone fa-fw "></em>(21) 9 9239-4567
              </li>
              <li class="mb-sm ">
                <em class="fa fa-map-marker fa-fw "></em>Rua dos bobos, 0 - Bairro X
              </li>
            </ul>
            <div class="space-btn">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Pedido #1234</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb20">
          <div class="col-md-6">
            <h4 class="">Cliente:</h4>
            <p>Anderson Barboza</p>
            <p>(21) 9 9249-6526</p>
            <p>contato@andersonbarboza.com</p>
          </div>
          <div class="col-md-6">
            <h4 class="">Endereço:</h4>
            <p>Rua dos bobos, 10 - Bl 20 casa 2 - Barra da Tijuca - Rio de janeiro - RJ - 22670-100</p>
          </div>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                Produto
              </th>
              <th>
                Qnt
              </th>
              <th>
                Valor
              </th>
              <th>
                Ações
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Dorflex
              </td>
              <td>
                2
              </td>
              <td>
                <div class="input-group">
                  <span class="input-group-addon">R$</span>
                  <input type="text" value="8,34" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>
              </td>
              <td>
                <button type="button" class="btn btn-danger">Sem Estoque</button>
              </td>
            </tr>
            <tr>
              <td>
                Tylenol
              </td>
              <td>
                3
              </td>
              <td>
                <div class="input-group">
                  <span class="input-group-addon">R$</span>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>
              </td>
              <td>
                <button type="button" class="btn btn-danger">Sem Estoque</button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="row mb20">
          <div class="col-md-6">
            <h4 class="">Pagamento:</h4>
            <p>Pagamento em Dinheiro</p>
          </div>
          <div class="col-md-6">
            <h4 class="pull-right">Total: R$ 43,76</h4>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link pull-right">Cancelar</button>
        <button type="button" class="btn btn-success pull-right">Enviar orçamento</button>
      </div>
    </div>
  </div>
</div>
