orders
{
    .add-more-button
    {
        background-color: white;
        box-shadow: none;
        color: #F1A63C;
    }

    .footer-button {
        height: 70px;
        text-align: center;
    }
  
  .footer-button-text {
  color: #fff;
  font-weight: 700;
  font-size: 1.3em;
}

.footer-button-icon {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 24px;
}
}
