<nav class="navbar navbar-inverse fixed-top bg-azul-farma">
  <a class="" href="#">
    <img src="../assets/logo-white.png">
  </a>
</nav>


<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-2 col-md-2 hidden-xs-down sidebar">
      <ul class="nav">
        <li class="nav-item">
            <button class="btn btn-link" type="button" [routerLink]="['/public/home']">Home</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-link" type="button" [routerLink]="['/admin/dashboard']">Dashboard</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link" type="button" (click)="logout()">Sair</button>
        </li>
      </ul>
    </nav>

    <main class="col-sm-10 col-md-10 pt-3 bg-light-farma">

      <router-outlet></router-outlet>

    </main>

  </div>
</div>
