page-edit-address {
  .div-margin {
    margin: 6% 3% 0 3%!important;
  }
  .usar-loc {
    margin-bottom: 2em;
  }
  
  .list-md .item-input:last-child {
    border-bottom: none;
  }
  ion-list {
    padding-bottom: 1em;
  }
  ion-item {
    padding-left: 1em!important;
    padding-right: 1em!important;
  }
}