page-login {
  
  .usar-loc {
    margin-bottom: 2em;
  }
  .btn-fb {
    background: #3b5998;
  }
  
  .btn-cad {
        border-color: $amarelo;
    color: $amarelo;
  }
  .muted-text {
    color: $cinzaClaro;
  }
}
