<div class="category-list-body">
  <ion-grid>
    <ion-row>
      <ion-col>
        <!--<div class="category" *ngFor="let category of categories" (click)="openCategoryPage(category)">
          <span class="name">{{category.name}}</span>
        </div>-->
        <div class="category" (click)="openCategoryPage(category)">
          <span class="name">Categoria 1</span>
        </div>
      </ion-col>
      <ion-col>
        <div class="category" (click)="openCategoryPage(category)">
          <span class="name">Categoria 2</span>
        </div>
      </ion-col>
      <ion-col>
        <div class="category" (click)="openCategoryPage(category)">
          <span class="name">Categoria 2</span>
        </div>
      </ion-col>
      <ion-col>
        <div class="category" (click)="openCategoryPage(category)">
          <span class="name">Categoria 2</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>