<div class="budget-list-body">
  <ion-card class="product-list-item">
    <ion-item class="product-content">
      <ion-avatar item-left class="image">
        <img src="../../../assets/images/location-header.png">
      </ion-avatar>
      <h2 class="name">Drograrias Pacheco</h2>
      <h2 class="time">1,1km - 60 - 75 min</h2>
      <h3 class="manufacturer">R$ 23,00</h3>
      <ion-badge>-22%</ion-badge>
    </ion-item>
    <div class="qnt-carrinho" item-right>
      <h3 class="qnt-itens">3 itens</h3>
      <h3 class="complete">Completo</h3>
    </div>
  </ion-card>
  
  <ion-card class="product-list-item">
    <ion-item class="product-content">
      <ion-avatar item-left class="image">
        <img src="../../../assets/images/location-header.png">
      </ion-avatar>
      <h2 class="name">Drograrias Pacheco</h2>
      <h2 class="time">0,1km - 10 - 15 min</h2>
      <h3 class="manufacturer">R$ 123,00</h3>
    </ion-item>
    <div class="qnt-carrinho" item-right>
      <h3 class="qnt-itens">3 itens</h3>
      <h3 class="complete">Completo</h3>
    </div>
  </ion-card>
  
  <ion-card class="product-list-item">
    <ion-item class="product-content">
      <ion-avatar item-left class="image">
        <img src="../../../assets/images/location-header.png">
      </ion-avatar>
      <h2 class="name">Drograrias Pacheco</h2>
      <h2 class="time">1,1km - 60 - 75 min</h2>
      <h3 class="manufacturer">R$ 33,00</h3>
      <ion-badge>-12%</ion-badge>
    </ion-item>
    <div class="qnt-carrinho" item-right>
      <h3 class="qnt-itens">2 itens</h3>
      <h3 class="complete incomplete">incompleto</h3>
    </div>
  </ion-card>
  

</div>